<div label="textual_info_about" class="h6 text-white opacity-75 mt-5">
  <center>
    <p>
      the MAEN is a music project created for huge fun. It allows us making whatever we would not be able to do in our "real" bands for multiple reasons.
      </p>
      <p>
        Music is vital. It is probably one of not so many things keeping us where we reside. On the other hand Music makes us feel better all the time.
        You probably already heard some of our music. But if you did not, there's a link above called "music", be sure to check it out.
        <p>
    </center>
  </div>
