<div label="content" class="h6 mt-5 text-white opacity-75"><center>
  <p>Thank you for your interest. Please feel free to send email to Maen:</p>
  </center>
  </div>

<div label="contact_information" class="text-main mx-auto opacity-100"><h3>
  <center>
  <p>themaen.com[at]gmail.com</p>
  </center>
</h3>
  </div>

<div label="social_media" class="h6 text-white opacity-75 mt-5">
  <p><center>Social Media links:</center>
    </p>
  </div>
