<div label="music" class="m-5">

<div label="song_title" class="text-warning h3 m-3 opacity-75">
  NOTHING LEFT
  </div>
  <p>
  <div label="audio_player">
    <audio src="audios/Nothing Left.mp3" controls class="w-100 opacity-75"></audio>
    </div>
