<!-- Background image
<div class="bg-image"
     style="background-image: url('https://images.unsplash.com/photo-1601148071764-8c3f50e9ab20?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80');
            height: 100vh">
</div>
<!-- Background image -->

<%= image_tag('vynil.jpg') %>
